/*griggorii youtube UI 2024 project ultra fast theme 2024 mobile or tablet or all device copyright*/
 /* griggorii fix test important transparent delete all parametr lag change dark theme or light */
yt-chip-cloud-chip-renderer[modern-chips][chip-style] {
    border-radius: 24px !important;
}

   /* griggorii test */
.yt-spec-touch-feedback-shape__fill {
    will-change: opacity !important;
    opacity: 0 !important;
    border-radius: inherit !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline {
    color: #0657d4 !important;
    border-color: var(--yt-spec-outline);
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline:hover{
    background-color: #0f0f0f !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text{
    color: #3ea6ff !important;
}
/*griggorii name video*/
ytd-watch-metadata {
    display: block !important;
    border-color: transparent !important;
}
   /* griggorii subscr fix */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
    /* color: var(--yt-spec-text-primary-inverse); */
    color: #fff !important;
    background-color: #c00 !important;
}
/* griggorii test button border radius*/
ytd-button-renderer #button.ytd-button-renderer * {
    background-color: #8664641c !important;
    border-radius: 24px !important;
}
/*live badge border radius*/
.badge-style-type-live-now.ytd-badge-supported-renderer {
	border-radius: 24px !important;
}
/*griggorii rounded corners stroke icons live badge border radius*/
.badge.ytd-badge-supported-renderer {
    border-radius: 24px !important;
}
/*griggorii live green icon*/
.badge-style-type-live-now-alternate.ytd-badge-supported-renderer {
    background: #085d16 !important;
    color: #ffffff !important;
}
/*griggorii new live red icon*/
.badge-style-type-simple.ytd-badge-supported-renderer {
    background: #d00808 !important;
    color: #ffffff !important;
}
/*channel name border radius fix*/
#container.ytd-channel-name {
	border-radius: 24px !important;
}
/*endscreen channel border radius*/
.ytp-ce-channel, .ytp-ce-channel .ytp-ce-expanding-image, .ytp-ce-channel .ytp-ce-element-shadow {
	border-radius: 24px !important;
}
/*endscreen playlist border radius top left*/
.ytp-ce-element.ytp-ce-playlist.ytp-ce-element-show.ytp-ce-top-left-quad {
	border-radius: 24px !important;
}
/*endscreen playlist border radius top right*/
.ytp-ce-element.ytp-ce-playlist.ytp-ce-element-show.ytp-ce-top-right-quad {
	border-radius: 24px !important;
}
/*endscreen playlist border radius bottom right*/
.ytp-ce-element.ytp-ce-playlist.ytp-ce-element-show.ytp-ce-bottom-right-quad {
	border-radius: 24px !important;
}
/*endscreen playlist border radius bottom left*/
.ytp-ce-element.ytp-ce-playlist.ytp-ce-element-show.ytp-ce-bottom-left-quad {
	border-radius: 24px !important;
}
/*endscreen website border radius top left*/
.ytp-ce-element.ytp-ce-website.ytp-ce-element-show.ytp-ce-top-left-quad {
	border-radius: 24px !important;
}
/*endscreen website border radius top right*/
.ytp-ce-element.ytp-ce-website.ytp-ce-element-show.ytp-ce-top-right-quad {
	border-radius: 24px !important;
}
/*endscreen website border radius bottom left*/
.ytp-ce-element.ytp-ce-website.ytp-ce-element-show.ytp-ce-bottom-left-quad {
	border-radius: 24px !important;
}
/*endscreen website border radius bottom right*/
.ytp-ce-element.ytp-ce-website.ytp-ce-element-show.ytp-ce-bottom-right-quad {
	border-radius: 24px !important;
}
/*endscreen website image border radius*/
.ytp-ce-expanding-image {
	border-radius: 24px !important;
}
/*gaming info container border radius*/
ytd-rich-metadata-renderer.style-scope.ytd-rich-metadata-row-renderer {
	border-radius: 24px !important;
}
/*playlist highlighter border radius*/
ytd-playlist-panel-video-renderer#playlist-items {
	border-radius: 24px;
}
/*container border radius*/
div#container {
	border-radius: 24px !important;
}
/*playlist header border radius*/
.header.style-scope.ytd-playlist-panel-renderer {
	border-radius: 24px 24px 24px 24px !important;
}
/*video (playlist) border radius*/
ytd-playlist-video-renderer {
	border-radius: 24px !important;
}
/*sub button border radius*/
paper-button.ytd-subscribe-button-renderer {
	border-radius: 24px !important;
}
#items.yt-horizontal-list-renderer>ytd-post-renderer.yt-horizontal-list-renderer {
	border-radius: 24px !important;
}
.ytp-flyout-cta .ytp-flyout-cta-icon {
	border-radius: 24px !important;
}
a.ytp-title-channel-logo {
	border-radius: 24px !important;
}
/*movie player border radius / shadow*/
.ytd-video-preview, .ytp-small-mode {
	border-radius: 24px !important;
}
/*movie player border radius / shadow*/
#movie_player, .video-stream, .ytp-small-mode {
	border-radius: 24px !important;
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
}
   /* griggorii test */
Style Attribute {
    font-size: 10px !important;
    font-family: Roboto, Arial, sans-serif !important;
    --twfyt-persistent-progress-bar-opacity: 0.5 !important;
}
   /* griggorii test */
ytd-thumbnail-overlay-toggle-button-renderer {
    border-radius: 24px !important;
}
ytd-thumbnail-overlay-toggle-button-renderer * {
    border-radius: 24px !important;
}
ytd-thumbnail-overlay-time-status-renderer {
	border-radius: 24px !important;
	padding: 6px 6px !important;
	background-color: rgb(0 0 0 / 35%) !important;
	backdrop-filter: blur(10px) !important;
}
/*sidebar hover border radius*/
.ytd-guide-section-renderer #endpoint:hover {
	border-radius: 24px !important;
}
/*sidebar selected border radius*/
ytd-guide-entry-renderer[active] {
	border-radius: 24px !important;
}
   /* griggorii fix subscr short */
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--filled {
    color: #c00 !important;
    background-color: transparent !important;
}
/*thumbnail border radius griggorii 24px default 2*/
img#img {
	border-radius: 24px !important;
}
/*borderless , color search bar editor griggorii*/
#container.ytd-searchbox {
        word-wrap: break-word: !important;
        display: flex: !important;
        flex: 100%: !important;
        box-shadow: !important;
	border: none !important;
	border-radius: 18px 0px 0px 18px !important;
        background-color: #332c2c21 !important;

}
/*search icon background color editor griggorii*/
#search-icon-legacy.ytd-searchbox {
        word-wrap: break-word: !important;
        display: flex: !important;
        flex: 100%: !important;
        box-shadow: !important;
	border-radius: 0px 18px 18px 0px !important;
	background-color: #332c2c21 !important;
}
 /* griggorii test effect click button */
.yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__fill {
    background-color: #000000e0 !important;
}
   /* griggorii transparent theme dark test hsla */
html[system-icons][dark], html[system-icons] [dark] {
    --yt-spec-icon-inactive: #fff !important;
    --yt-spec-icon-disabled: #717171 !important;
    --yt-spec-brand-icon-inactive: #fff !important;
    --yt-spec-text-primary: #f1f1f1 !important;
    --yt-spec-text-primary-inverse: #0f0f0f !important;
}
html[darker-dark-theme][dark], [darker-dark-theme] [dark] {
    --yt-spec-text-primary: #f1f1f1 !important;
    --ytd-searchbox-border-color: #909090 !important;
    --ytd-searchbox-legacy-border-color: #3030302e !important;
    --ytd-searchbox-legacy-button-border-color: #30303030 !important;
    --ytd-searchbox-legacy-button-focus-color: #ffffff14 !important;
    --ytd-searchbox-legacy-button-hover-color: #ffffff !important;
    --ytd-searchbox-legacy-button-hover-border-color: #3030302e !important;
    --ytd-searchbox-legacy-button-icon-color: hsla(0, 100%, 100%, 0; --ytd-searchbox-background: hsl(0deg 0% 7% / 18%);7%) !important;
    --ytd-searchbox-background: #1212122e !important;
    --yt-spec-base-background: #0f0f0f57 !important;
    --yt-spec-raised-background: #212121 !important;
    --yt-spec-menu-background: #282828 !important;
    --yt-spec-inverted-background: #f1f1f1 !important;
}
html[dark], [dark] {
    --ytd-searchbox-border-color: #ffffff !important;
    --ytd-searchbox-legacy-border-color: #303030 !important;
    --ytd-searchbox-legacy-border-shadow-color: hsla(0, 0%, 0%, 0) !important;
    --ytd-searchbox-legacy-button-color: hsla(0, 0%, 100%, 0.08); !important;
    --ytd-searchbox-legacy-button-border-color: hsl(0, 0%, 18.82%) !important;
    --ytd-searchbox-legacy-button-focus-color: hsla(0, 0%, 100%, 0.08) !important;
    --ytd-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, 0.08) !important;
    --ytd-searchbox-legacy-button-hover-border-color: hsl(0, 0%, 18.82%) !important;
    --ytd-searchbox-legacy-button-icon-color: hsla(0, 100%, 100%, 0.5) !important;
    --ytd-searchbox-background: hsl(0, 0%, 7%) !important;
    --ytd-searchbox-text-color: hsla(0, 100%, 100%, 0.88) !important;
}
.vk-box {
    height: auto !important;
    background-color: #282829 !important;
    border: 0px solid #282829 !important;
    border: 0px solid rgba(0,0,0,0.3) !important;
    font-family: arial,sans-serif !important;
    position: fixed !important;
    box-shadow: 0px 0px rgba(0,0,0,0.2) !important;
}
.vk-t {
    color: #ffffff !important;
}
