/*griggorii youtube UI 2023 mobile or tablet copyright*/
   /* griggorii test */
.yt-spec-dialog-layout--dialog-layout-fullscreen{
    height: 100% !important;
    width: 100% !important;
}
.yt-spec-dialog-layout--dialog-layout-fullscreen .yt-spec-dialog-layout__dialog-layout-container
.yt-spec-dialog-layout--dialog-layout-fullscreen .yt-spec-dialog-layout__dialog-layout-content{
    display: block !important;
    height: 100% !important;
    width: 100% !important;
}
.yt-spec-dialog-layout--dialog-layout-fullscreen .yt-spec-dialog-layout__dialog-layout-content-inner{
    display: block !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
}
.yt-spec-button-shape-next{
    position: relative !important;
    margin: 0 !important;
    white-space: nowrap !important;
    min-width: 0 !important;
    text-transform: none !important;
    font-family: "Roboto","Arial",sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    border: none !important;
    cursor: pointer !important;
    outline-width: 0 !important;
    box-sizing: border-box !important;
    background: none !important;
    text-decoration: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-flex: 1 !important;
    -webkit-box-flex: 1 !important;
    flex: 1 !important;
    -webkit-flex-basis: 0.000000001px !important;
    flex-basis: 0.000000001px !important;
    display: -webkit-flex !important;
    display: -webkit-box !important;
    display: flex !important;
    -webkit-flex-direction: row !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    flex-direction: row !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}
.yt-spec-button-shape-next__icon{
    line-height: 0 !important;
    fill: currentColor !important;
}
.yt-spec-button-shape-next__secondary-icon{
    line-height: 0 !important;
    fill: currentColor !important;
}
.yt-spec-button-shape-next--icon-button{
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    flex: none !important;
}
.yt-spec-button-shape-next--button-text-content{
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}
.yt-spec-button-shape-next--size-xs{
    padding: 0 8px !important;
    height: 24px !important;
    font-size: 12px !important;
    line-height: 24px !important;
    border-radius: 12px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--outline{
    padding: 0 7px !important;
    border-width: 1px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--focused{
    padding: 0 6px !important;
    border-width: 2px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-xs .yt-spec-button-shape-next__icon{
    width: 16px !important;
    height: 16px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--align-by-text{
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-button{
    width: 24px !important;
    padding: 0 !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--align-by-text{
    margin-left: -4px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end{
    padding: 0 8px !important;
    width: 32px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end .yt-spec-button-shape-next__icon{
    margin-left: -2px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--segmented-start{
    border-radius: 12px 0 0 12px !important;
    position: relative !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--segmented-start::after{
    content: "" !important;
    background: rgba(255,255,255,0.2) !important;
    position: absolute !important;
    right: 0 !important;
    top: 4px !important;
    height: 16px !important;
    width: 1px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--segmented-end{
    border-radius: 0 12px 12px 0 !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-trailing .yt-spec-button-shape-next__icon{
    margin-left: 2px !important;
    margin-right: -2px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon{
    margin-right: 2px !important;
    margin-left: -2px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-leading.yt-spec-button-shape-next--align-by-text{
    margin-left: -6px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__icon{
    margin-right: 2px !important;
    margin-left: -2px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__secondary-icon{
    margin-left: 2px !important;
    margin-right: -2px !important;
}
.yt-spec-button-shape-next--size-xs.yt-spec-button-shape-next--icon-leading-trailing.yt-spec-button-shape-next--align-by-text{
    margin-left: -6px !important;
}
.yt-spec-button-shape-next--size-s{
    padding: 0 12px !important;
    height: 32px !important;
    font-size: 12px !important;
    line-height: 32px !important;
    border-radius: 16px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--outline{
    padding: 0 11px !important;
    border-width: 1px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--focused{
    padding: 0 10px !important;
    border-width: 2px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-s .yt-spec-button-shape-next__icon{
    width: 16px !important;
    height: 16px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--align-by-text{
    margin-left: -12px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-button{
    width: 32px !important;
    padding: 0 !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--align-by-text{
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end{
    padding: 0 12px !important;
    width: 44px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end .yt-spec-button-shape-next__icon{
    margin-left: -4px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--override-small-size-icon .yt-spec-button-shape-next__icon{
    width: 24px !important;
    height: 24px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--segmented-start{
    border-radius: 16px 0 0 16px !important;
    position: relative !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--segmented-start::after{
    content: "" !important;
    background: rgba(255,255,255,0.2) !important;
    position: absolute !important;
    right: 0 !important;
    top: 8px !important;
    height: 16px !important;
    width: 1px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--segmented-end{
    border-radius: 0 16px 16px 0 !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-trailing .yt-spec-button-shape-next__icon{
    margin-left: 4px !important;
    margin-right: -4px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon{
    margin-right: 4px !important;
    margin-left: -4px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-leading.yt-spec-button-shape-next--align-by-text{
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__icon{
    margin-right: 4px !important;
    margin-left: -4px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__secondary-icon{
    margin-left: 4px !important;
    margin-right: -4px !important;
}
.yt-spec-button-shape-next--size-s.yt-spec-button-shape-next--icon-leading-trailing.yt-spec-button-shape-next--align-by-text{
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--size-m{
    padding: 0 16px !important;
    height: 36px !important;
    font-size: 14px !important;
    line-height: 36px !important;
    border-radius: 18px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--outline{
    padding: 0 15px !important;
    border-width: 1px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--focused{
    padding: 0 14px !important;
    border-width: 2px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-m .yt-spec-button-shape-next__icon{
    width: 24px !important;
    height: 24px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--align-by-text{
    margin-left: -16px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-button{
    width: 36px !important;
    padding: 0 !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--align-by-text{
    margin-left: -6px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end{
    padding: 0 16px !important;
    width: 52px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end .yt-spec-button-shape-next__icon{
    margin-left: -6px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-start{
    border-radius: 18px 0 0 18px !important;
    position: relative !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-start::after{
    content: "" !important;
    background: rgba(255,255,255,0.2) !important;
    position: absolute !important;
    right: 0 !important;
    top: 6px !important;
    height: 24px !important;
    width: 1px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-end{
    border-radius: 0 18px 18px 0 !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-trailing .yt-spec-button-shape-next__icon{
    margin-left: 6px !important;
    margin-right: -6px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon{
    margin-right: 6px !important;
    margin-left: -6px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading.yt-spec-button-shape-next--align-by-text{
    margin-left: -10px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__icon{
    margin-right: 6px !important;
    margin-left: -6px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__secondary-icon{
    margin-left: 6px !important;
    margin-right: -6px !important;
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading-trailing.yt-spec-button-shape-next--align-by-text{
    margin-left: -10px !important;
}
.yt-spec-button-shape-next--size-l{
    padding: 0 24px !important;
    height: 48px !important;
    font-size: 18px !important;
    line-height: 48px !important;
    border-radius: 24px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--outline{
    padding: 0 23px !important;
    border-width: 1px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--focused{
    padding: 0 22px !important;
    border-width: 2px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-l .yt-spec-button-shape-next__icon{
    width: 24px !important;
    height: 24px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--align-by-text{
    margin-left: -24px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-button{
    width: 48px !important;
    padding: 0 !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--align-by-text{
    margin-left: -12px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end{
    padding: 0 24px !important;
    width: 72px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end .yt-spec-button-shape-next__icon{
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--segmented-start{
    border-radius: 24px 0 0 24px !important;
    position: relative !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--segmented-start::after{
    content: "" !important;
    background: rgba(255,255,255,0.2) !important;
    position: absolute !important;
    right: 0 !important;
    top: 12px !important;
    height: 24px !important;
    width: 1px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--segmented-end{
    border-radius: 0 24px 24px 0 !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-trailing .yt-spec-button-shape-next__icon{
    margin-left: 8px !important;
    margin-right: -8px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon{
    margin-right: 8px !important;
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-leading.yt-spec-button-shape-next--align-by-text{
    margin-left: -16px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__icon{
    margin-right: 8px !important;
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__secondary-icon{
    margin-left: 8px !important;
    margin-right: -8px !important;
}
.yt-spec-button-shape-next--size-l.yt-spec-button-shape-next--icon-leading-trailing.yt-spec-button-shape-next--align-by-text{
    margin-left: -16px !important;
}
.yt-spec-button-shape-next--size-xl{
    padding: 0 32px !important;
    height: 56px !important;
    font-size: 24px !important;
    line-height: 56px !important;
    border-radius: 28px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--outline{
    padding: 0 31px !important;
    border-width: 1px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--focused{
    padding: 0 30px !important;
    border-width: 2px !important;
    border-style: solid !important;
}
.yt-spec-button-shape-next--size-xl .yt-spec-button-shape-next__icon{
    width: 24px !important;
    height: 24px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--align-by-text{
    margin-left: -32px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-button{
    width: 56px !important;
    padding: 0 !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--align-by-text{
    margin-left: -16px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end{
    padding: 0 32px !important;
    width: 88px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-button.yt-spec-button-shape-next--segmented-end .yt-spec-button-shape-next__icon{
    margin-left: -12px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--segmented-start{
    border-radius: 28px 0 0 28px !important;
    position: relative !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--segmented-start::after{
    content: "" !important;
    background: rgba(255,255,255,0.2) !important;
    position: absolute !important;
    right: 0 !important;
    top: 16px !important;
    height: 24px !important;
    width: 1px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--segmented-end{
    border-radius: 0 28px 28px 0 !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-trailing .yt-spec-button-shape-next__icon{
    margin-left: 12px !important;
    margin-right: -12px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-leading .yt-spec-button-shape-next__icon{
    margin-right: 12px !important;
    margin-left: -12px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-leading.yt-spec-button-shape-next--align-by-text{
    margin-left: -20px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__icon{
    margin-right: 12px !important;
    margin-left: -12px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-leading-trailing .yt-spec-button-shape-next__secondary-icon{
    margin-left: 12px !important;
    margin-right: -12px !important;
}
.yt-spec-button-shape-next--size-xl.yt-spec-button-shape-next--icon-leading-trailing.yt-spec-button-shape-next--align-by-text{
    margin-left: -20px !important;
}
.yt-spec-button-shape-next--icon-only-default{
    min-width: 0 !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
}
.yt-spec-button-shape-next--icon-only-default.yt-spec-button-shape-next--align-by-text{
    margin-left: -8px !important;
}
.yt-spec-button-shape-next--workaround-icon-no-border-radius{
    border-radius: unset !important;
}
.yt-spec-button-shape-next--disabled{
    cursor: default !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--filled{
    color: #0f0f0f !important;
    background-color: #3ea6ff !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--filled:hover{
    background-color: #65b8ff !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline{
    color: #3ea6ff !important;
    border-color: rgba(255,255,255,0.2) !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline:hover{
    background-color: #263850 !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text{
    color: #3ea6ff !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover{
    background-color: #263850 !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--tonal{
    color: #3ea6ff !important;
    background-color: #263850 !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--tonal:hover{
    background-color: #515561 !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--focused{
    color: #3ea6ff !important;
    background-color: unset !important;
    border-color: #3ea6ff !important;
}
.yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--focused:hover{
    background-color: #263850 !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--call-to-action-inverse.yt-spec-button-shape-next--text{
    color: #065fd4 !important;
}
.yt-spec-button-shape-next--call-to-action-inverse.yt-spec-button-shape-next--text:hover{
    background-color: #def1ff !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled{
    color: #0f0f0f !important;
    background-color: #f1f1f1 !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled:hover{
    background-color: #d9d9d9 !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--outline{
    color: #f1f1f1 !important;
    border-color: rgba(255,255,255,0.2) !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--outline:hover{
    background-color: rgba(255,255,255,0.2) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text{
    color: #f1f1f1 !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text:hover{
    background-color: rgba(255,255,255,0.2) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal{
    color: #f1f1f1 !important;
    background-color: rgba(255,255,255,0.1) !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal:hover{
    background-color: rgba(255,255,255,0.2) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--focused{
    color: #f1f1f1 !important;
    background-color: unset !important;
    border-color: #f1f1f1 !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--focused:hover{
    background-color: rgba(255,255,255,0.2) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--mono-inverse.yt-spec-button-shape-next--text{
    color: #0f0f0f !important;
}
.yt-spec-button-shape-next--mono-inverse.yt-spec-button-shape-next--text:hover{
    background-color: rgba(255,255,255,0.2) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--filled{
    color: #212121 !important;
    background-color: #fff !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--filled:hover{
    background-color: #e6e6e6 !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--outline{
    color: #fff !important;
    border-color: rgba(255,255,255,0.3) !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--outline:hover{
    background-color: rgba(255,255,255,0.1) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--text{
    color: #fff !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--text:hover{
    background-color: rgba(255,255,255,0.1) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--tonal{
    color: #fff !important;
    background-color: rgba(255,255,255,0.1) !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--tonal:hover{
    background-color: rgba(255,255,255,0.2) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--focused{
    color: #fff !important;
    background-color: unset !important;
    border-color: #fff !important;
}
.yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--focused:hover{
    background-color: rgba(255,255,255,0.1) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--overlay-dark.yt-spec-button-shape-next--tonal{
    color: #fff !important;
    background-color: rgba(0,0,0,0.6) !important;
}
.yt-spec-button-shape-next--overlay-dark.yt-spec-button-shape-next--tonal:hover{
    background-color: rgba(0,0,0,0.3) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--overlay-dark.yt-spec-button-shape-next--focused{
    color: #fff !important;
    background-color: unset !important;
    border-color: rgba(0,0,0,0.6) !important;
}
.yt-spec-button-shape-next--overlay-dark.yt-spec-button-shape-next--focused:hover{
    background-color: rgba(0,0,0,0.3) !important;
    border-color: transparent !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--filled{
    color: #717171 !important;
    background-color: rgba(255,255,255,0.1) !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--filled:hover{
    border-color: transparent !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--outline{
    color: #717171 !important;
    border-color: rgba(255,255,255,0.2) !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--outline:hover{
    border-color: transparent !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--text{
    color: #717171 !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--text:hover{
    border-color: transparent !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--tonal{
    color: #717171 !important;
    background-color: rgba(255,255,255,0.1) !important;
}
.yt-spec-button-shape-next--disabled.yt-spec-button-shape-next--tonal:hover{
    border-color: transparent !important;
}
.yt-spec-button-shape-with-label{
    display: -webkit-flex !important;
    display: -webkit-box !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
    -webkit-align-items: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}
.yt-spec-button-shape-with-label__label{
    margin-top: 4px !important;
    color: #f1f1f1 !important;
    font-family: "Roboto","Arial",sans-serif !important;
    font-size: 1.4rem !important;
    line-height: 2rem !important;
    font-weight: 400 !important;
}
.yt-spec-button-shape-with-label--is-overlay .yt-spec-button-shape-with-label__label{
    color: #fff !important;
}
.yt-spec-touch-feedback-shape{
    display: inline-block !important;
    border-radius: inherit !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.yt-spec-touch-feedback-shape__fill{
    will-change: opacity !important;
    opacity: 0 !important;
    border-radius: inherit !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.yt-spec-touch-feedback-shape__stroke{
    will-change: opacity !important;
    opacity: 0 !important;
    border-radius: inherit !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.yt-spec-touch-feedback-shape--down .yt-spec-touch-feedback-shape__fill{
    opacity: .1 !important;
}
.yt-spec-touch-feedback-shape--focused .yt-spec-touch-feedback-shape__fill{
    opacity: .1 !important;
}
.yt-spec-touch-feedback-shape--is-extended{
    margin: -4px !important;
}
.yt-spec-touch-feedback-shape--is-extended .yt-spec-touch-feedback-shape__stroke
.yt-spec-touch-feedback-shape--is-extended .yt-spec-touch-feedback-shape__fill{
    border-radius: 4px !important;
}
.yt-spec-touch-feedback-shape--circular .yt-spec-touch-feedback-shape__stroke
.yt-spec-touch-feedback-shape--circular .yt-spec-touch-feedback-shape__fill{
    border-radius: 50% !important;
}
.yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__fill{
    background-color: #fff !important;
}
.yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__stroke{
    border: 1px solid #fff !important;
}
.yt-spec-touch-feedback-shape--touch-response-inverse .yt-spec-touch-feedback-shape__fill{
    background-color: #000 !important;
}
.yt-spec-touch-feedback-shape--touch-response-inverse .yt-spec-touch-feedback-shape__stroke{
    border: 1px solid #000 !important;
}
.yt-spec-touch-feedback-shape--touch-response-inverse.yt-spec-touch-feedback-shape--down .yt-spec-touch-feedback-shape__fill
.yt-spec-touch-feedback-shape--touch-response-inverse.yt-spec-touch-feedback-shape--focused .yt-spec-touch-feedback-shape__fill{
    opacity: .2 !important;
}
.yt-spec-touch-feedback-shape--overlay-touch-response .yt-spec-touch-feedback-shape__fill{
    background-color: #fff !important;
}
.yt-spec-touch-feedback-shape--overlay-touch-response .yt-spec-touch-feedback-shape__stroke{
    border: 1px solid #fff !important;
}
.yt-spec-touch-feedback-shape--overlay-touch-response-inverse .yt-spec-touch-feedback-shape__fill{
    background-color: #000 !important;
}
.yt-spec-touch-feedback-shape--overlay-touch-response-inverse .yt-spec-touch-feedback-shape__stroke{
    border: 1px solid #000 !important;
}
